@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@100;400;600;700&family=Poppins:wght@100;400;600;800&display=swap');

/* ================== STYLE ELEMENTS SETTING ================== */
:root {
    /* Color Settings */
    --White: rgb(240, 240, 240);
    --Black: rgb(22, 22, 22);
    --DarkGray: rgb(41, 41, 41);
    --Gray: rgb(51, 51, 51);
    --LightGray: rgb(148, 148, 148);
    --Blue: rgb(26, 26, 226);
    --Orange: rgb(243, 139, 2);
    --Pink: rgb(252, 54, 87);
    --Lime: rgb(96, 255, 96);
    --Green: rgb(5, 94, 5);
    --Red: rgb(110, 5, 5);
    
    /* Shape Settings */
    --Border: 4px;
    --Transition: all 350ms ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:  'Open Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

body {
    background-color: var(--White);
}

.main {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a, a * {
    text-decoration: none;
}

input, textarea, select {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0;
}

html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

/* ================== BASIC LAYOUT ELEMENTS SETTING ================== */
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row.between {
    justify-content: space-between;
    align-items: center;
}

.row.left {
    justify-content: flex-start;
    align-items: center;
}

.row.right {
    justify-content: flex-end;
    align-items: center;
}

.row.top {
    justify-content: space-between;
    align-items: flex-start;
}

.row.center {
    justify-content: center;
    align-items: center;
}

.margin__right__small {
    margin-right: 1rem !important;
}

.margin__left__small {
    margin-left: 1rem;
}

.margin__vertical__small {
    margin: 1rem 0;
}

.margin__vertical__big {
    margin: 2.5rem 0 !important;
}



.btn {
    width: 100%;
    margin: .5rem 0;
    outline: none;
    border: none;
    height: 2.5rem;
    text-transform: lowercase;
    font-size: 1.3rem;
    font-weight: 100;
    background-color: var(--Blue);
    color: var(--White);
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
    transition: all 350ms ease;
    opacity: 90%;
}

.btn:hover {
    opacity: 100%;
    box-shadow: none;
}

.btn.small {
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
    background-color: var(--LightGray);
}

.btn.small:hover {
    background-color: var(--Blue);
}

.btn.small.main {
    background-color: var(--DarkGray);
    margin-bottom: 2rem;
}

.btn.small.main:hover {
    background-color: var(--Pink);
}

.btn__reset, .btn__cancel {
    flex-basis: 48%;
    background-color: var(--Gray);
}

.btn__reset:hover {
    background-color: var(--Green);
}

.btn__cancel:hover, .btn__red:hover {
    background-color: var(--Red) !important;
}

.alert-info {
    color: var(--Green);
    background-color: var(--LightGray);
}

.alert-error {
    color: var(--Red);
    background-color: var(--LightGray);
}

.alert-success {
    color: var(--Blue);
    background-color: var(--LightGray);
}

.italic {
    font-style: italic;
}

/* ================== ANIMATIONS ================== */
.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tilt {
    transform: rotate(-30deg);
}



/* ================== Header ================== */
.header__container {
    width: 100vw;
    height: 90px;
    justify-content: center;
    background: var(--White);
    border-bottom: 0.1rem dashed var(--Black);
    position: relative;
}

.header__content {
    width: 100%;
    height: 100%;
    padding: 10px 40px;
}

.logo {
    font-size: 3rem !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 800 !important;
    margin-right: 30px !important;
}

.header__item {
    margin-right: 1.2rem;
    font-size: 1.2rem;
    color: var(--Black);
}

.header__item * {
    color: var(--Black);
}

.search {
    min-width: 6rem;
    max-width: 25rem;
}

.header__bar {
    height: 3px;
    width: 3rem;
    background-color: var(--Black);
    margin: 5px;
}

.header__hidden {
    width: 100%;
    position: absolute;
    right: 0;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: right;
    color: var(--White);
    background-color: rgba(0,0,0,.5);
    padding-bottom: .5rem;
    z-index: 100;
}

.header__hidden .header__item {
    width: 100%;
    text-align: right;
    color: var(--White);
    padding: 5px 15px;
}

.header__dropdown {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transform: translateX(-10px);
    background-color: rgba(0,0,0,.5);
    z-index: 100;
}

.header__dropdown .header__item {
    color: var(--White);
}

.header__item.profile {
    display: flex;
    color: var(--Blue);
}

.header__item.profile i {
    margin-left: .5rem;
    font-size: 1.5rem;
    color: var(--Blue);
}

/* ================== FOOTER ================== */
.footer__container {
    width: 100vw;
    height: 60px;
    display: flex;
    text-align: center;
    border-top: 1px dashed var(--Black);
}

/* ================== APP HOME PAGE LAYOUT ================== */
.app__container {
    width: 100vw;
    height: 100vh;
}

.app__content {
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.container__center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: top;
}

.container__long {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container__horizontal {
    height: 100%;
    padding: 2rem;
    overflow-x: scroll;
    display: flex;
}

/* ================== BLOG PAGE ================== */

.page__header {
    width: 100%;
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: var(--White);
}

.page__header.black {
    height: auto;
}

.page__header.black * {
    color: var(--Black);
}

.page__image {
    width: 100%;
    position: absolute;
    z-index: -100;
    filter: grayscale(.9) brightness(.5) contrast(1.1);
}

.page__image.separate {
    width: 100%;
    object-fit: cover;
    position: relative !important;
    filter:grayscale(.2) brightness(.9) contrast(1.1);
    height: 40rem;
}

.page__corner__left {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.page__corner__right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.page__corner__rightbottom {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.page__title {
    font-size: 3rem;
    margin: 4rem 0;
    color: var(--White);
}

.page__subtitle {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.page__author {
    text-decoration: none;
    color: var(--White);
}

.page__author__name {
    font-weight: 700;
    font-style: oblique;
    font-size: 1.3rem !important;
    border-bottom: 1px solid var(--White);
    padding: .2rem;
}

.thumbnail__small {
    width: 2.3rem;
    height: 2.3rem;
    margin: 1rem;
    border-radius: 50%;
}

.btn__follow {
    background-color: transparent;
    border: dashed 1px var(--White);
    outline: none;
    color: var(--White);
    opacity: .8;
    height: 1.8rem;
    width: 8rem;
    font-size: 1.1rem;
    margin: 0 1rem;
    transition: var(--Transition);
}

.btn__follow:hover {
    background-color: var(--White);
    color: var(--DarkGray)
}

.page__content {
    width: 100%;
}

.page__grid {
    width: 95%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 2rem;
}

.grid__item {
    max-width: 30rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.grid__item * {
    text-decoration: none;
    color: var(--Black);
}

.grid__item__img {
    max-width: 100%;
    width: 100%;
    margin: 0 0 1rem 0;
    filter: grayscale(1) brightness(.8) contrast(.7);
}

.grid__item__img:hover {
    filter: grayscale(0) brightness(1) contrast(1);
    
}
.grid__item__title {
    text-transform: uppercase;
    margin: 1.2rem 0;
}

.grid__item__subtitle {
    margin: 0 0 1.2rem 0;
}

.grid__item__readmore {
    letter-spacing: -.02rem;
    margin-top: .5rem;
    /* font-family: 'Open Sans', serif !important; */
    font-weight: 600;

}

.grid__item__btn {
    outline: none;
    border: none;
    width: 3.5rem;
    margin-left: 1rem;
    background-color: var(--DarkGray);
    color: var(--White);
}

.grid__item__btn * {
    color: var(--White);
}

.grid__item__btn:hover {
    background-color: var(--Blue);
}

/* ================== POSTING PAGE ================== */

.posting__category {
    padding: 1rem;
    font-size: .8rem;
    border: 2px solid var(--Black);
    transition: var(--Transition);
    z-index: 90;
}

.posting__category:hover {
    background-color: var(--Black);
    color: var(--White);
}

.posting__header {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.posting__header__content {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.thumbnail__xsmall {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    filter: grayscale(1);
    border-radius: 50%;
}
.posting__author {
    font-size: 1.6rem;
    cursor: pointer;
}
.posting__title {
    font-size: 3rem;
}

.posting__subtitle {
    display: flex;
    align-items: center;
    margin: 1.3rem 0; 
}

.posting__blog {
    border-bottom: 2px solid var(--Black);
    padding-bottom: .3rem;
}

.posting__content {
    width: 75%;
    margin: 3rem auto;
}

.posting__text * {
    font-family: 'Courier New', Courier, monospace;
}

.btn__posting {
    background-color: transparent;
    border: dashed 1px var(--Black);
    outline: none;
    color: var(--Black);
    opacity: .8;
    height: 1.8rem;
    min-width: 8rem;
    font-size: 1.1rem;
    margin: 0 1rem;
    padding: 0 1rem;
    transition: var(--Transition);
}

.btn__posting:hover {
    background-color: var(--Black);
    color: var(--White)
}

.posting__bar {
    width: 100%;
    border-bottom: 1px dashed var(--Black);
}

.posting__comment__content {
    
}

.posting__comment {
    border-bottom: 1px solid rgba(0,0,0,.3);
    width: 100%;
    padding: 1.5rem 0;
}

.posting__comment__author {
    display: flex;
    align-items: center;
}

.posting__comment__username {
    font-weight: 600;
    font-size: 1.5rem;
}

.posting__comment__content {
    width: 92%;
    margin: 0 auto;
    font-weight: 100;
}

.posting__comment__text {
    font-family: 'Courier New', Courier, monospace;
    margin: .9rem 0;
}

.posting__comment__date {
    font-size: .8rem;
    color: var(--Gray);
}

.posting__comment__form {
    padding: 2rem 0;
}

/* ================== SECTION : VERTICAL SCROLL ================== */

.section {
    position: relative;
    margin: 1.5rem;
    margin-right: 2.5rem;
    display: flex;
}

.section__big {
    width: 40%;
    min-width: 30rem;
}

.section__small {
    width: 30%;
    min-width: 28rem;
}

.section__small * {
    color: var(--Black);
}

.section__title {
    writing-mode: vertical-lr;
    max-width: 10rem;
    transform: rotate(180deg);
    text-align: right;
    margin: 1rem;
    font-size: 1.3rem;
}

.title__tab {
    height: 1rem;
    background-color: var(--Black);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}

.section__content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: .8rem;
}

.content__container {
    width: 100%;
    margin-bottom: 3rem;
}

.content__img {
    width: 100%;
    height: auto;
    filter: grayscale(100);
}

.content__container:hover .content__img {
    filter: grayscale(0);
}

.content__title {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    margin: .3rem 0;
}

.content__subtitle * {
    margin: .5rem 0;
    font-size: 1.1rem;
    letter-spacing: 0;
}

.content__buttons {
    margin: 1rem 0;
}

.content__category {
    text-transform: uppercase !important;
}

.content__text, .content__text * {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
}

/* ================== FORM ================== */
.form__content {
    width: 80%;
    max-width: 30rem;
    overflow-y: scroll;
    margin: 5rem 0;
}

.form__title { 
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 1rem;
}

.form__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px dashed var(--Black);
    height: 2.2rem;
    margin: .8rem 0;
    font-size: 1.2rem;
    padding: 0 1rem;
    background-color: var(--White);
}

.form__input::placeholder {
    color: var(--LightGray);
    font-weight: 100;
}

.form__btn {
    margin-top: 1rem;
}

/* ================== FOLLOWS ================== */
.follow__container {
    margin-top: 3rem;
    max-width: 35rem;
    height: 100%;
    overflow-y: scroll;
}

.follow__content {
    width: 100%;
}
.follow__list * {
    color: var(--Black);
}

.follow__title {
    border-bottom: 1px solid var(--Gray);
    padding: 2rem 0;
}

.follow__item {
    border-bottom: 1px dashed var(--Gray) ;
    padding: 1.2rem 0;
}

.follow__author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 6rem;
}

.follow__item__title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.4rem;
}

.follow__btn__delete {
    padding: 1rem;
    background-color: var(--White);
    color: var(--Black);
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--Transition);
    text-align: center;
}

.follow__btn__delete:hover {
    color: var(--White);
    background-color: rgba(230, 10, 0, .8);
    /* font-size: 1.5rem; */
}

/* ================== RESPONSIVE ================== */

@media all and (max-width: 1024px) {

    /* form */
    .form__title {
        font-size: 2.1rem;
    }

    /* header */
    .logo {
        font-size: 2.5rem !important;
    }

    .header__item {
        font-size: 1.1rem;
    }

    .header__category {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* section */
    .section {
        min-width: 35rem;
    }
}

@media all and (max-width: 768px) {
    /* section */
    .section {
        width: 100%;
    }
}