@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Poppins:wght@100;400;600;800&display=swap');

/* ================== STYLE ELEMENTS SETTING ================== */
:root {
    /* Color Settings */
    --White: rgb(240, 240, 240);
    --Black: rgb(22, 22, 22);
    --DarkGray: rgb(41, 41, 41);
    --Gray: rgb(51, 51, 51);
    --LightGray: rgb(148, 148, 148);
    --Blue: rgb(26, 26, 226);
    --Orange: rgb(243, 139, 2);
    --Pink: rgb(252, 54, 87);
    --Lime: rgb(96, 255, 96);
    
    /* Shape Settings */
    --Border: 4px;
    --Transition: all 350ms ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

body {
    background-color: var(--White);
}
ul {
    list-style: none;
}

a, a * {
    text-decoration: none;
}

.main {
    height: 100vh;
    width: 100vw;
}



/* ================== LAYOUT SETTING ================== */
.row {
    display: flex;
    flex-direction: row;
}

.row.between {
    justify-content: space-between;
    align-items: center;
}

.row.left {
    justify-content: flex-start;
    align-items: center;
}

.row.right {
    justify-content: flex-end;
    align-items: center;
}

.row.top {
    justify-content: space-between;
    align-items: flex-start;
}

.row.center {
    justify-content: center;
    align-items: center;
}

/* ================== Header ================== */
.header__container {
    width: 100vw;
    height: 90px;
    justify-content: center;
    /* position: fixed;
    top: 0;
    left: 0; */
    /* background: linear-gradient(to bottom, rgba(240,240,240,1) 80%, rgba(240,240,240,0) 100%); */
    background: var(--White);
    border-bottom: 0.1rem dotted var(--Black);
}

.header__content {
    width: 100%;
    height: 100%;
    padding: 10px 40px;
}

.logo {
    font-size: 3rem !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 800;
    margin-right: 30px !important;
}

.header__item {
    margin-right: 1.2rem;
    font-size: 1.2rem;
}

.header__item a {
    color: var(--Black);
}

.header__bar {
    height: 3px;
    width: 3rem;
    background-color: var(--Black);
    margin: 5px;
}


/* ================== FOOTER ================== */
.footer__container {
    width: 100vw;
    height: 60px;
    display: flex;
    text-align: center;
}

/* ================== APP PAGE ================== */
.app__container {
    width: 100vw;
    height: 100vh;
}

.app__content {
    height: calc(100vh - 150px)
}
